<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canking.minipay">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ZhiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PayTheme" />

    </application>

</manifest>
